
<html>
    <head>
		<meta charset="uft-8">
        <title> JAC Digital | Veeduría Control Ciudadano </title>
        <link href="home.scss" rel="stylesheet" type= "text/scss">
    </head>

    <body>    
    <div>
        <p><h1 align="Center"><b>JAC DIGITAL - VEEDURÍA CONTROL CIUDADANO.</b><h1></p>
        <br>
    </div>
    <hr></hr>  

    <div>    
    <p><h3 align="Center">TEMÁTICA: Paz y Convivencia<h3></p>    
    <p><h3 align="Center">ACTORES CLAVES: Junta de acción comunal, Comunidad en general, Entidades públicas<h3></p>            
    </div>
    <hr></hr>

    <div>
    <table border="1">
    <tr class="diseno"><br>
    <th><p><h2>RETO:</h2></p></th>
    <th><p><h2>SITUACIÓN:</h2></p></th>    
    </tr>
    <tr>
    <th><p>¿Cómo podemos garantizar estrategias de articulación, acceso
    a información y permanencia en los procesos participativos
    ciudadanos?</p></th>  
    <th><p>¿Cómo podemos garantizar estrategias de articulación, acceso
    a información y permanencia en los procesos participativos
    ciudadanos?</p></th>  
    </tr>     
    <tr class="diseno"><br>
    <th><p><h2>PROBLEMÁTICA:</h2></p></th>
    <th><p><h2>EXPECTATIVA:</h2></p></th>    
    </tr>   
    <tr>
    <th><p>La problemática de la comunidad se origina en el limitado acceso
    a mecanismos para el control de la administración local. Existe
    un descontento por los habitantes de la localidad de la Candelaria
    por los pocos espacios de participación ciudadana frente al
    seguimiento y control público.</p></th>  
    <th><p>La expectativa de los habitantes se basa en construir plataformas
    políticas ciudadanas de fácil acceso y uso, esencialmente de
    código abierto, donde exista una infraestructura pública y
    no institucional para desarrollar iniciativas que fortalezca la
    transparencia en la administración, tales como espacios físicos
    y virtuales de participación ciudadana. También destacan poder
    desarrollar proyectos orientados a la gestión pública desde los
    ciudadanos que no estén atados a periodos administrativos.</p></th>  
    </tr>   
    </table>
    </div>

    <div>
    
    </div>
                       
    </body>
</html>
        

    

<!--
PROYECTO

•	Proponentes:
o	Viviana Patricia Londoño Castro.
o	Astrid Liliana Bohórquez Sandoval.
o	Ivonne Andrea Sánchez.
•	Nombre del proyecto:
VEEDURIA A JUNTAS DE ACCIÓN COMUNAL.
•	Integrantes:
o	Viviana Patricia Londoño Castro.
o	Astrid Liliana Bohórquez Sandoval.
o	Ivonne Andrea Sánchez.
•	 Descripción
o	¿Qué hace?:
Esta plataforma tecnológica va a permitir:
Mostrar la Gestión de la JAC.
Permitir la interacción de la JAC con su comunidad.
Impulsar las actividades que promueve la JAC.
Permitir a la comunidad el acceso transparente a la información general y financiera de la JAC.
o	¿Cómo se hace?:
La plataforma permite el cargue de archivos pdf correspondientes a la información de Gestión y finanzas de la JAC, la cual quedará disponible para su consulta.
Para la información de eventos la plataforma muestra una pantalla tipo calendario con el enunciado del evento y al seleccionarlo despliega el detalle del mismo junto con el mapa de la ubicación.
Sección de comentarios de la comunidad donde puede denunciar, felicitar, solicitar o sugerir temas de beneficio a la comunidad posteriormente a un registro de usuario, todas estas serán notificadas por vía correo a las directivas de la junta para ser tramitadas.
La plataforma permite el registro de usuarios dividido en 2 roles: Directivo de la JAC y usuario de la comunidad, El directivo será asignado por la alcaldía local y el usuario de comunidad hará su registro por medio de la plataforma, la cual le solicitará el ingreso de información básica que permita identificar al usuario.
•	Plataforma a desarrollar (ej: Android, iOS, Android Things, etc):
o	Android.
o	Ios.
•	Aplicaciones similares (Listar al menos 5 aplicaciones que realicen funciones similares y comparar las diferentes ventajas)
•	Actividades clave:
o	Diseño de la aplicación.
o	Desarrollo de la aplicación.
o	Seguimiento a los servicios para garantizar el mejor uso y la satisfacción de los usuarios. 
•	Recursos clave:
o	Ingenieros para el desarrollo de la aplicación.
o	Computadores para el desarrollo.
o	Capacitación para el desarrollo.
o	La información relacionada al proyecto.
•	Propuesta de valor:
Desarrollar una plataforma tecnológica que dé a conocer a la comunidad la gestión de las Juntas de Acción Comunal.
•	Relación con los clientes:
o	Hacer conexión con redes sociales para que las persona puedan ir contando la experiencia de los servicios y por medio de estos medios hacer comunidades de ayuda mutua.
o	Se tendrá un correo dedicado a la ayuda a los clientes en cualquier tema relacionado con la aplicación o con su misión
•	Flujos de Ingreso:
o	La generación del dinero será por medio de las consultorías.
•	Canales:
o	Marketing Online.
o	Publicidad en medios impresos de las JAC.
•	Segmentos del cliente:
o	Directivos y Administrativos de la JAC.
o	La comunidad que pertenece a la JAC.
•	Estructura de costo:
o	Desarrollo de la Aplicación.
•	Alianzas claves:
o	Alcaldía Mayor de Bogotá.
o	Alcaldías Locales.
o	Juntas de Acción Comunal.

-->

